@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: black;
    background-color: goldenrod;
}
h2{
    color: rgba(99, 80, 21, 0.801);
}
p{
    text-align: justify;
}
a{
    color: black;
}
